<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Time</th>
      <th>Deadline</th>
      <th>Min number</th>
      <th>Max number</th>
      <th>Event name</th>
      <th>Event desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.location %></td>
        <td><%= event.time %></td>
        <td><%= event.deadline %></td>
        <td><%= event.min_number %></td>
        <td><%= event.max_number %></td>
        <td><%= event.event_name %></td>
        <td><%= event.event_desc %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
